In [97]:
import os
import pandas as pd
# set option for pandas
#pd.set_option('max_rows',None)
#pd.set_option('max_columns',None)

# reset option
#pd.reset_option("all")

In [98]:
os.getcwd()

'c:\\Users\\Student\\Documents\\New folder'

In [99]:
df = pd.read_csv("pokemon.csv")

In [100]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [101]:
df_xl = pd.read_excel("pokemon.xlsx")

In [102]:
df_xl

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [103]:
df_txt = pd.read_csv("pokemon.txt", delimiter="\t")

In [104]:
df_txt

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [105]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [106]:
df.tail(9)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [107]:
# loc takes data from lable marked function for loction
df.loc[1,"Name"]

'Ivysaur'

In [108]:
#fetch data with index
#iloc[rows,columns]
df.iloc[1,1]

'Ivysaur'

In [109]:
df.iloc[1:6,1:9]

                    Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def
1                Ivysaur  Grass  Poison  60      62       63       80       80
2               Venusaur  Grass  Poison  80      82       83      100      100
3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122      120
4             Charmander   Fire     NaN  39      52       43       60       50
5             Charmeleon   Fire     NaN  58      64       58       80       65

In [110]:
df[['Name','HP','Attack','Defense']]
df1 = df[['Name','HP']]

In [111]:
df1.iloc[55:59,0:2]

       Name  HP
55  Diglett  10
56  Dugtrio  35
57   Meowth  40
58  Persian  65

In [112]:
df1.loc[55:61,{'Name','HP'}]

       Name  HP
55  Diglett  10
56  Dugtrio  35
57   Meowth  40
58  Persian  65
59  Psyduck  50
60  Golduck  80
61   Mankey  40

In [113]:
df.loc[55:61,{'Name','Speed'}]

       Name  Speed
55  Diglett     95
56  Dugtrio    120
57   Meowth     90
58  Persian    115
59  Psyduck     55
60  Golduck     85
61   Mankey     70

In [114]:
# exclude index column in data
df2 = pd.read_csv("pokemon.csv", index_col=0)
df2

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [115]:
df2 = df2.set_index('Speed')
df2

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Generation,Legendary
Speed,,,,,,,,,,
45,Bulbasaur,Grass,Poison,45,49,49,65,65,1,False
60,Ivysaur,Grass,Poison,60,62,63,80,80,1,False
80,Venusaur,Grass,Poison,80,82,83,100,100,1,False
80,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,1,False
65,Charmander,Fire,NaN,39,52,43,60,50,1,False
...,...,...,...,...,...,...,...,...,...,...
50,Diancie,Rock,Fairy,50,100,150,100,150,6,True
110,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,6,True
70,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,6,True
80,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,6,True
70,Volcanion,Fire,Water,80,110,120,130,90,6,True

In [116]:
df2.head(4)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Generation,Legendary
Speed,,,,,,,,,,
45,Bulbasaur,Grass,Poison,45,49,49,65,65,1,False
60,Ivysaur,Grass,Poison,60,62,63,80,80,1,False
80,Venusaur,Grass,Poison,80,82,83,100,100,1,False
80,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,1,False

In [117]:
df2.loc[{45,60,80,80}]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Generation,Legendary
Speed,,,,,,,,,,
80,Venusaur,Grass,Poison,80,82,83,100,100,1,False
80,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,1,False
80,Charmeleon,Fire,NaN,58,64,58,80,65,1,False
80,Arbok,Poison,NaN,60,85,69,65,79,1,False
80,Gastly,Ghost,Poison,30,35,30,100,35,1,False
...,...,...,...,...,...,...,...,...,...,...
45,Conkeldurr,Fighting,NaN,105,140,95,55,65,5,False
45,Throh,Fighting,NaN,120,100,85,30,85,5,False
45,Crustle,Bug,Rock,70,95,125,65,75,5,False
45,Gothita,Psychic,NaN,45,30,50,55,65,5,False
45,Inkay,Dark,Psychic,53,54,53,37,46,6,False

In [127]:
df.loc[(df['Type 1'] == 'Grass') & (df['HP'] > 40)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [131]:
df.loc[(df['Type 1'] == 'Grass') | (df['Type 1']  == 'Fire')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [136]:
#list all pokemons of grass or fire with hp > 40
new = df.loc[(df['Type 1'] == 'Grass') | (df['Type 1']  == 'Fire') & (df['HP'] > 40),{'Name','Speed'}]
new

                      Name  Speed
0                Bulbasaur     45
1                  Ivysaur     60
2                 Venusaur     80
3    VenusaurMega Venusaur     80
5               Charmeleon     80
..                     ...    ...
735                 Litleo     72
736                 Pyroar    106
740                 Skiddo     52
741                 Gogoat     68
799              Volcanion     70

[117 rows x 2 columns]

In [137]:
#create new csv file 
new.to_csv("newpokemon.csv")
# to save as text
#new.to_csv("newpokemon.txt",sep="\t")

In [141]:
#new.to_csv("newpokemon.txt",sep="a")
df007 = pd.read_csv("newpokemon.txt", delimiter="a")
df007

     Unnamed: 0                   Name  Speed
0             0              Bulbasaur     45
1             1                Ivysaur     60
2             2               Venusaur     80
3             3  VenusaurMega Venusaur     80
4             5             Charmeleon     80
..          ...                    ...    ...
112         735                 Litleo     72
113         736                 Pyroar    106
114         740                 Skiddo     52
115         741                 Gogoat     68
116         799              Volcanion     70

[117 rows x 3 columns]